@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply grid bg-msf-magnolia font-msf-font-family text-msf-font-size font-msf-font-regular md:place-content-center;
}

main {
	@apply grid gap-5 md:mt-[100px] md:gap-28 md:rounded-md md:bg-msf-white md:pb-3 md:pl-3 md:pr-20 md:pt-3 md:shadow-md;

	height: 100vh;
	grid-template:
		'sidebar' 0.1fr
		'form' 1fr
		/ 1fr;

	@media screen and (min-width: 920px) {
		height: auto;
		grid-template:
			'sidebar form' 1fr
			/ 274px minmax(440px, 1fr);
	}
}

h1 {
	@apply mb-2 text-3xl font-msf-font-bold text-msf-marine-blue;
}

label {
	@apply text-sm text-msf-marine-blue;
}

.text-input {
	@apply mb-5 mt-2 w-full rounded-md border p-3;
}

.text-input:focus {
	@apply outline-none;
}

.text-input::placeholder {
	@apply font-msf-font-medium;
}

.form-step {
	@apply self-end rounded-md md:relative md:max-w-[440px] md:self-auto md:bg-msf-white md:pt-8;
	grid-area: form;
}

.form-content {
	@apply relative bottom-24 m-3 rounded-lg bg-msf-white p-5 shadow-md md:static md:m-0 md:max-w-[440px] md:rounded-none md:p-0 md:shadow-none;
}

.form-button-wrapper {
	@apply flex w-full bg-msf-white p-5 md:absolute md:bottom-5 md:p-0;
}

.form-button {
	@apply cursor-pointer rounded-md pb-3 pl-5 pr-5 pt-3 font-msf-font-medium;
}

.btn-back {
	@apply form-button text-msf-cool-gray hover:text-msf-marine-blue;
}

.btn-next {
	@apply form-button bg-msf-marine-blue text-msf-white hover:bg-msf-marine-blue/80;
}

.btn-confirm {
	@apply form-button bg-msf-purplish-blue text-msf-white hover:bg-msf-purplish-blue/80;
}
