@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply grid bg-msf-magnolia font-msf-font-family text-msf-font-size font-msf-font-regular md:place-content-center;
	height: 100vh;
}

main {
	@apply grid md:rounded-md md:bg-msf-white md:pb-5 md:pl-5 md:pr-24 md:pt-5;

	grid-template:
		'sidebar' 0.5fr
		'form' 1fr
		'navbuttons' 0.1fr
		/ 1fr;

	@media only screen and (min-width: 768px) {
		grid-template:
			'sidebar form' 1fr
			'sidebar form' 1fr
			'sidebar navbuttons' 0.3fr
			/ 0.8fr 1fr;
	}
}

h1 {
	@apply mb-2 text-2xl font-msf-font-bold text-msf-marine-blue;
}

p {
	@apply text-msf-cool-gray;
}

form {
	@apply mt-5;
}

label {
	@apply text-sm text-msf-marine-blue;
}

input {
	@apply mt-2 rounded-md border border-msf-cool-gray/60 p-3;
}

input::placeholder {
	@apply font-msf-font-medium;
}
